<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665220610181-im9hrsca625ej52370s1jgrn8u3pvvke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665220610181-im9hrsca625ej52370s1jgrn8u3pvvke</string>
	<key>API_KEY</key>
	<string>AIzaSyBC_4AW82sVrP3lM-OECFl9XnjassysUto</string>
	<key>GCM_SENDER_ID</key>
	<string>665220610181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-977ec</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-977ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665220610181:ios:82a501775119b4d1fc51ec</string>
</dict>
</plist>